.answer-section{
    margin-left: 50px !important;
    margin-right: 10px !important;
}

.semantic-article{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 20px;
}
.context-article{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 20px;
}