.laptop img {
    width: 450px ;
    height: 335px;
}
.all-reviews{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
@media screen and (max-width:415px) {
    /* .asus-heading h2{
        font-size: 30px;
    } */
    
}